-var title = "Dashboard";
-var author = "@PERNIXSOLUTIONS"

.dashboard
  main
    .overview
      div
        img(src='app/assets/logo.png', style='\
    height: 60px;\
    ')
      h2 Overview

      .widget-container

        .widget
          header
            h3.iconicfill-mail Genero
          .content
            strong Masculino
            div(ng-repeat="person in vm.people | filter: { gender: 'M' }")

                p
                  strong Nombre de usuario:
                  | {{person.username}}

                  strong Respuestas correctas:
                  | {{person.answers}}

            strong Femenino
            div(ng-repeat="person in vm.people | filter: { gender: 'F' }")

                p
                  strong Nombre de usuario:
                  | {{person.username}}

                  strong Respuestas correctas:
                  | {{person.answers}}



    footer
      p &copy; 2016 #{title} by #{author}
