-var title = "Dashboard";
-var author = "@PERNIXSOLUTIONS"

.dashboard
  main
    .overview
      div
        img(src='app/assets/logo.png', style='\
    height: 60px;\
    ')
      h2 Overview

      .widget-container

        .widget
          header
            h3.iconicfill-mail Genero
          .content
            div(ng-repeat="person in vm.people | filter: { gender: 'male' }:true")

                p
                  strong Genero:
                  | {{person.usermane}}  {{person.gender}}


    footer
      p &copy; 2016 #{title} by #{author}
