-var title = "Dashboard";
-var author = "@Pernixsolutions"

.dashboard
  main
    .overview
      div
        img(src='app/assets/logo.png', style='\
    height: 60px;\
    ')
      h2 Overview

      .widget-container

        .widget
          header
            h3.iconicfill-mail Respuestas
          .content
            div(ng-repeat="person in vm.people | orderBy:'-answers'")
                p
                  strong Respuestas:
                  | {{ person.answers}} {{ person.username}}


    footer
      p &copy; 2016 #{title} by #{author}

