-var title = "Dashboard";
-var author = "@Pernixsolutions"

.dashboard
  main
    .overview
      div
        img(src='app/assets/logo.png', style='\
    height: 60px;\
    ')
      h2 Overview

      .widget-container

        .widget
          header
            h3.iconicfill-mail Respuestas
          .content
            div(ng-repeat="person in vm.people | orderBy:'-answers'")
                p
                  strong Nombre:
                  |  {{ person.username}}
                  strong Edad:
                  |  {{ person.age}}
                  strong Respuestas Correctas:
                  |  {{ person.answers}}


    footer
      p &copy; 2016 #{title} by #{author}

