div.dashboard-content
  aside
    ul
      li: a.iconicfill-home(ui-sref="dashboard") Overview

      li: a.iconicfill-mail(ui-sref="dashboard.age") Edad
      li: a.iconicfill-user(ui-sref="dashboard.gender") Genero
      li: a.iconicfill-iphone(ui-sref="dashboard.answers") Respuestas
      li: a.iconicfill-cog(ui-sref="dashboard") Settings
      li.search.iconicfill-magnifying-glass: input(placeholder='Search')

  div.dashboard-main(ui-view)
