o
aside
    ul
      li: a.iconicfill-home(href='#') Overview

      li: a.iconicfill-mail(href='#') Edad
      li: a.iconicfill-user(href='#') Genero
      li: a.iconicfill-iphone(href='#') Respuestas
      li: a.iconicfill-cog(href='') Settings
      li.search.iconicfill-magnifying-glass: input(placeholder='Search')
