nav.navbar.navbar-default( role="navigation" )
  .navbar-header
    button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href="#") Prodig

  ul.nav.navbar-nav
    li.active: a( href="#") Home
    li: a( href="#about" ) About
    li: a( href="#contact" ) Contact
    li.dropdown
      a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) Dropdown
          span.caret
aside
  ul
    li: a.iconicfill-home(href='#') Overview

    li: a.iconicfill-mail(href='#') Edad
    li: a.iconicfill-user(href='#') Genero
    li: a.iconicfill-iphone(href='#') Respuestas
    li: a.iconicfill-cog(href='') Settings
    li.search.iconicfill-magnifying-glass: input(placeholder='Search')
