-var title = "Dashboard";
-var author = "@lorenz"

.dashboard
  main
    .overview
      div
        img(src='app/assets/logo.png', style='\
    height: 60px;\
    ')
      h2 Overview

      .widget-container

        .widget
          header
            h3.iconicfill-mail Edad
          .content
            div(ng-repeat="person in ctrl.people")
                p
                  strong Nombre:
                  | {{ person.firstName }}


    footer
      p &copy; 2015 #{title} by #{author}
